{% extends "base.layout.html" %}
{% block body %}

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="card shadow rounded">
        <div class="card-header">
          <h5 class="text-center h3 py-2">
            Features Extraction Phase
          </h5>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 bg-light">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Features Extraction</li>
            </ol>
          </nav>

          <hr>

          <div class="row">
            <div class="col-12 col-lg-8">
              <p class="text-center h5">
                Introduction
              </p>
              <hr>
              <p class="text-left">
                Markers extraction in image processing involves analyzing contour-based and texture-based features to
                gain
                insights into object shapes and patterns. Contours represent the boundaries of objects, and various
                markers
                like perimeter, area, centroid, aspect ratio, and solidity describe their shape, size, and compactness.
                Radial distance and convexity help detect shape symmetry and deviations from convex forms, while
                compactness
                evaluates the roundness of an object.
              </p>
              <p class="text-left">
                In texture analysis, first-order markers, such as mean, variance,
                and
                skewness, focus on pixel intensity statistics, whereas second-order markers like GLCM (Gray-Level
                Co-occurrence Matrix) and GLRLM (Gray-Level Run-Length Matrix) account for spatial relationships between
                pixels, revealing patterns and repetitions in textures.
              </p>
              <p class="text-left">
                These markers are vital for applications such as
                object recognition, shape matching, and segmentation, providing both geometric and textural information
                essential for comprehensive image analysis.
              </p>
            </div>
            <div class="col-12 col-lg-4 mt-lg-0 mt-3">
              <div class="text-center">
                <img src="data:image/jpg;base64,{{markersExtractionImage}}"
                     class="img-fluid rounded shadow border border-success w-50 p-2 bg-white"
                     alt="Markers Extraction Preview">
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="text-center">
                <img src="data:image/jpg;base64,{{markersImage}}"
                     class="img-fluid rounded shadow border border-success w-75 p-2 bg-white"
                     alt="Markers Preview">
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">

          {% include 'flashes.component.html' %}

          <form id="extractForm" action="/features-extraction" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="action" value="extract">
            <div class="mb-3">
              <label for="pickleFile" class="form-label">Pickle File:</label>
              <select class="form-control" name="pickleFile" id="pickleFile">
                <option value="">Select Pickle File</option>
                {% for pickle in pickleZip %}
                <option value="{{ pickle[0] }}">
                  {{ pickle[0] }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="fileName" class="form-label">Filename:</label>
              <input type="text" class="form-control" name="fileName" id="fileName"
                     placeholder="Enter a filename for the extracted features">
            </div>
            <div class="mb-3">
              <label class="form-label">Select Distances (Checkboxes):</label>
              {% for distance in [10, 20, 25, 30, 40, 50, 60, 70, 75, 80,90, 100] %}
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="distances[]" value="{{ distance }}"
                       checked id="dist-{{ distance }}">
                <label class="form-check-label" for="dist-{{ distance }}">{{ distance }}% Distance</label>
              </div>
              {% endfor %}
            </div>
            <div class="mb-3">
              <label class="form-label">Data Augmentation Techniques (Checkboxes):</label>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="rotate" id="rotate">
                <label class="form-check-label" for="rotate">Random Rotation</label>
                <div class="form-text text-muted mt-0">
                  Rotate the input by an angle selected randomly from the uniform distribution.
                  <br>
                  Rotation angle limit is 90 degrees.
                  <br>
                  For more information, visit <a href="https://explore.albumentations.ai/transform/Rotate"
                                                 target="_blank">Click</a>.
                </div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="horz" id="horz">
                <label class="form-check-label" for="horz">Horizontal Flipping</label>
                <div class="form-text text-muted mt-0">Randomly flips the image horizontally.</div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="vert" id="vert">
                <label class="form-check-label" for="vert">Vertical Flipping</label>
                <div class="form-text text-muted mt-0">Randomly flips the image vertically.</div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="zoom" id="zoom">
                <label class="form-check-label" for="zoom">Random Zoom</label>
                <div class="form-text text-muted mt-0">Randomly zooms the image in and out.</div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="shift" id="shift">
                <label class="form-check-label" for="shift">Random Shift</label>
                <div class="form-text text-muted mt-0">Randomly shifts the image horizontally and vertically.</div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="shift"
                       id="RandomBrightnessContrast">
                <label class="form-check-label" for="RandomBrightnessContrast">Random Brightness Contrast</label>
                <div class="form-text text-muted mt-0">
                  Randomly changes the brightness and contrast of the image.
                  <br>
                  Brightness limit (minimum and maximum) is (-0.2, 0.2).
                  <br>
                  For more information, visit <a
                    href="https://explore.albumentations.ai/transform/RandomBrightnessContrast"
                    target="_blank">Click</a>.
                </div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="shift"
                       id="RandomToneCurve">
                <label class="form-check-label" for="RandomToneCurve">Random Tone Curve</label>
                <div class="form-text text-muted mt-0">
                  Randomly change the relationship between bright and dark areas of the image by manipulating its tone
                  curve.
                  <br>
                  Scale is 0.1.
                  <br>
                  For more information, visit <a href="https://explore.albumentations.ai/transform/RandomToneCurve"
                                                 target="_blank">Click</a>.
                </div>
              </div>
              <div class="form-check mx-2">
                <input class="form-check-input" type="checkbox" name="augmentation[]" value="shift" id="RandomGamma">
                <label class="form-check-label" for="RandomGamma">Random Gamma</label>
                <div class="form-text text-muted mt-0">
                  Applies random gamma correction to the input image.
                  <br>
                  Gamma limit (lower and upper bounds for gamma adjustment) is (80, 120).
                  <br>
                  For more information, visit <a href="https://explore.albumentations.ai/transform/RandomGamma"
                                                 target="_blank">Click</a>.
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" id="loadButton">
                Apply Features Extraction
              </button>
            </div>
          </form>


          {% include 'progress.component.html' %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>

  $(document).ready(function () {
    const progressCheckURL = '/progress-process?flag=features_extraction';
    ResetProgress();
    setTimeout(CheckProgress, 1000, progressCheckURL);

    $("#loadButton").click(function (e) {
      e.preventDefault();
      ResetProgress();

      $("#loader").addClass("d-none");
      $("button").prop("disabled", true);
      $("form :input").prop("disabled", true);
      $("form button").prop("disabled", true);

      let formData = new FormData();
      formData.append('pickleFile', $("#pickleFile").val());
      formData.append('fileName', $("#fileName").val());
      formData.append('distances', $("#extractForm input[name='distances[]']:checked").map(function () {
        return $(this).val();
      }).get());
      formData.append('augmentation', $("#extractForm input[name='augmentation[]']:checked").map(function () {
        return $(this).val();
      }).get());
      formData.append('_csrf_token', "{{ csrf_token() }}");
      formData.append('action', 'extract');

      setTimeout(CheckProgress, 1000, progressCheckURL);

      $.ajax({
        url: '/features-extraction',
        method: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          $("button").prop("disabled", false);
          $("form :input").prop("disabled", false);
          $("form button").prop("disabled", false);

          setTimeout(CheckProgress, 5000, progressCheckURL);

          if (response.status === 'success') {
            // Show success message and then reload the page when the user clicks OK.
            Swal.fire({
              title: 'Success!',
              text: response.message,
              icon: 'success',
              confirmButtonText: 'OK'
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload();
              }
            });
          } else if (response.status === 'error') {
            Swal.fire({
              title: 'Error!',
              text: response.message,
              icon: 'error',
              confirmButtonText: 'OK'
            });
          }
        },
      });
    });
  });


</script>
{% endblock %}
